/* commissioner-regular - latin */
@font-face {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/commissioner-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/commissioner-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* commissioner-800 - latin */
  @font-face {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 800;
    src: local(''),
         url('../fonts/commissioner-v13-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/commissioner-v13-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html {
    --red: #F94F4F;
    --light-black: #191921;
    --black: #000;
    --white: #FFF;

    --main-color: var(--black);
    --second-color: var(--white);
    --third-color: var(--red);
    --main-bg: var(--white);
    --second-bg: var(--light-black);
    --third-bg: var(--red);

}

body {
	font-family: 'Commissioner', sans-serif;
	font-size: 1.5rem;
    font-weight: 400;
	line-height: 2.5rem;
	color: var(--black);
	background-color: var(--white);
    max-width: 144rem;
    margin: auto;
}

h1, h2 {
    line-height: 4rem;
    font-weight: 800;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    margin-block-end: 4rem;
}

a {
    font-weight: 800;
    line-height: 1.8rem;
    color: var(--third-color);
    text-decoration: none;
    position: relative;
}

.button {
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 2.2rem;
    padding: 2.5rem 4rem;
    background-color: var(--red);
    color: var(--white);
    border: 0;
}


/* HEADER */
.main-header {
    margin-block-end: 9.6rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 11rem;
    margin-inline: 2.4rem;
    position: relative;
}

.navbar-list {
    position: absolute;
    display: none;
    flex-direction: column;
    padding-block: 3rem;
    background-color: var(--second-bg);
    width: 25.2rem;
    right: 0;
    bottom: 0;
    transform: translateY(calc(100% + 1.5rem));
    text-align: center;
}

.navbar-item {
    padding-block-end: 2.4rem;
}

.navbar-item:has(.button) {
    padding-block-start: 2.4rem; 
}

.navbar-link {
    color: var(--second-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.2rem;
}

.logo {
    width: 16.1rem;
    height: 3.1rem;
}

.hero-picture {
    margin-block-end: 5.6rem;
}

.hero {
    margin-inline: 2.4rem;
}

.main-title {
    margin-block-end: 1.5rem;
}

@media (min-width: 768px) {
    .main-header {
        display: grid;
        grid-template-columns: 33fr 43.8fr;
        grid-template-rows: 17.8rem 1fr;
        margin: 0;
    }

    .navbar {
        height: auto;
    }

    .burger-menu-link {
        display: none;
    }

    .navbar-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: initial;   
        width: auto;
        right: auto;
        bottom: auto;
        transform: none;
        align-items: center;
        margin: 0;
        background-color: var(--third-bg);
    }

    .navbar-item {
        margin: auto;
        padding: 0;
    }

    .navbar-item:has(.button) {
        padding-block-start: 0; 
    }

    .navbar-link.button {
        background-color: var(--black);
        padding: 1rem;
    } 

    .hero {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        max-width: 40rem;
        padding-block-start: 7.7rem;
        padding-inline-start: 4rem;
    }

    .hero-picture {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        order: -1;
        justify-self: end;
        margin: 0;
    }

}

@media (min-width: 1440px) {

}


/* ACCROCHE BRAND */

.accroche-brand {
    /* background-color: var(--second-bg); */
    color: var(--second-color);
}

.accroche-content {
    padding-inline: 2.4rem;
    padding-block: 7.2rem;
    background-color: var(--second-bg);
}

.content-link::after {
    content: '';
    position: absolute;
    width: 100%;
    bottom: -.9rem;
    left: 0;
    border-bottom: 1px solid var(--third-color);
}

.content-img {
    width: 100%;
}

.brand-title-bloc,
.brand-content {
    background-color: var(--third-bg);
    color: var(--second-color);
}

.brand-title-bloc {
    padding-block-start: 9.6rem;
    padding-inline: 2.4rem;
}

.brand-content {
    padding: 2.4rem;
}

.brand-list {
    display: flex;
    flex-direction: column;
    gap: 8.4rem;
    padding-block-start: 4.9rem;
    counter-reset: my-counter;
}

.brand-item {
    counter-increment: my-counter;
}

.item-title {
    margin-block-end: 1.5rem;
    position: relative;
}

.item-title::after {
    content: '0'counter(my-counter);
    position: absolute;
    font-size: 8rem;
    line-height: 8.8rem;
    mix-blend-mode: normal;
    opacity: 0.25;
    left: -5%;
    bottom: -50%;
}

.brand p {
    margin: 0;
    line-height: 2.5rem;
}

@media (min-width: 768px) {
    .accroche-brand {
        display: grid;
        grid-template-columns: 37.8fr 4.8fr 39fr;
        grid-template-rows: 53.8rem 12rem 1fr;
    }

    .content-picture {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        order: 2;
    }

    .accroche-content {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
        position: relative;
        padding-inline-start: 6.9rem;
    }    
    
    .accroche-content:before {
        content: url(../img/tilde-red.svg);
        position: absolute;
        left: 0rem;
        top: 14.5rem;
        z-index: 1;
        transform: translateX(-50%);
    }

    .brand-title-bloc {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .brand-title {
        padding: 0;
    }

    .brand-content {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 4;
        order: 5;
    }

    .brand-content,
    .brand-title-bloc {
        padding-block-start: 12rem;
    }

    .brand-title {
        color: var(--main-color);
        padding-block-start: 12.6rem;
        padding-inline-start: 3.9rem;
    }

    .brand-list {
        padding-inline-start: 3.9rem;
    }
}

/* CAROUSSEL */
.caroussel-legend, .caroussel-figure {
    color: var(--second-color);
}

.caroussel-legend {
    background-color: var(--second-bg);
}

.caroussel-figure {
    display: grid;
    width: 100%;
}

.caroussel-title {
    grid-row: 2;
    padding: 6.4rem 2.4rem 2.4rem 2.4rem;
}

.caroussel-buttons {
    padding-inline: 2.4rem;
    padding-block-end: 6.4rem;
}

.caroussel-button {
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
    color: var(--third-color);
    border: 1px solid var(--third-color);
    background: none;
    margin-inline-end: 1.6rem;
}

.caroussel-picture,
.caroussel-content {
    grid-row: 1;
    grid-column: 1;
    align-self: end;
    justify-self: end;
}

.caroussel-content {
    text-align: right;
    padding-inline-end: 3.2rem;
    padding-block-end: 3.5rem;
}

.caroussel-img-content {
    margin: 0;
}

.caroussel-img {
    order: -1;
}

@media (min-width: 768px) {
    .caroussel {
        display: grid;
        grid-template-columns: 33rem 1fr 37.8rem;
        grid-template-rows: 352fr 120fr;
    }

    .caroussel-figure {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;      
        order: -1;
    }

    .caroussel-legend {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;   
        position: relative;  
    }

    .caroussel-legend:before {
        content: url(../img/tilde.svg);
        position: absolute;
        right: 0;
        top: 12.6rem;
        z-index: 1;
        transform: translateX(50%);
    }
}

/* SCHEDULE */
.schedule {
    padding-block: 10rem;
    padding-inline: 2.4rem; 
}

.schedule-title {
    padding-block-end: 4.2rem;
}


@media (min-width: 768px) {
    .schedule {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .schedule-button {
        margin: auto;
    }
}